// Colors
$textColor: #495057;
$innerBg: #ebebeb;
$darkBg: #e1e1e1;
$recovClr: #4fd410;
$deathClr: #eb0a0a;

// Font Sizes
$titleSize: 32px;

// other
$border: 1px solid $textColor;
$minHeight: 300px;
$maxHeight: 350px;
$minWidth: 300px;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main {
  height: 100%;

  .mainTitle {
    font-size: $titleSize;
    text-transform: uppercase;
    color: $textColor;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 0 2rem;
  border-bottom: $border;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 100%;
    border-right: $border;
    padding-right: 2rem;
    cursor: pointer;
    color: $textColor;
    font-weight: 700;
  }

  .countryInput {
    height: 100%;
    width: 400px;
    padding-left: 2rem;
    border: none;
    font-size: 16px;
    font-weight: 300;
    border-left: $border;
    outline: none;

    &::placeholder {
      font-size: 16px;
      font-weight: 300;
      color: $textColor;
    }
  }
}

.dashboard {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: $darkBg;

  .mapContainer,
  .chart,
  .statistics {
    background-color: #fff;
    min-height: $minHeight;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 8px 2px rgba(0, 0, 0, 0.1);
  }

  .dashboardGrid {
    display: grid;
    grid-template-columns: repeat(300px, 4);
    grid-template-rows: repeat(300px, 2);
    grid-column-gap: 100px;
    grid-row-gap: 50px;

    .mapContainer {
      display: flex;

      svg {
        height: 100%;
        width: 60%;
      }

      .tableWrap {
        margin-left: 2rem;
        width: 40%;
        display: block;
        max-height: $maxHeight;
        overflow-y: scroll;

        .table {
          width: 100%;
          border: $border;
          padding: 0.8rem;
          border-collapse: collapse;
          border-radius: 10px;

          caption {
            padding: 0.4rem;
            border: $border;
            font-size: 0.8rem;
          }

          tr {
            cursor: pointer;
            font-size: 0.8rem;
          }

          // Sticki Note Try 1

          th {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 2;
          }

          // End

          th {
            background-color: $textColor;
            color: white;
          }

          .countriesTr:hover {
            background-color: $darkBg;
          }

          th,
          td {
            border: $border;
            border-collapse: collapse;
            padding: 0.8rem 1rem;
            text-align: center;
          }
        }
      }
    }

    .statistics {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 20px 20px 0 20px;
      min-width: 300px;

      .confirmed,
      .active,
      .rest {
        min-height: 33%;
        border-bottom: $border;
        padding: 0.5rem 0;

        .dataNumber {
          font-weight: 700;
          font-size: 1.5rem;
          color: $textColor;
        }

        .deathNum {
          color: $deathClr;
        }

        .recovNum {
          color: $recovClr;
        }

        .title {
          font-weight: 300;
          font-size: 1rem;
        }
      }

      .confirmed,
      .active {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      .rest {
        display: flex;
        width: 100%;
        border-bottom: none;

        & > div {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
        .deaths {
          border-left: 1px solid $textColor;
          padding: 0 0 0 10px;
        }
      }

      .deathNum {
        color: #eb0a0a;
      }

      .recovNum {
        color: $recovClr;
      }
    }

    .mapContainer {
      grid-column: 1 / 5;
      grid-row: 1 / 2;
    }

    .chart {
      grid-column: 1 / 4;
      grid-row: 2 /3;
    }

    .statistics {
      grid-column: 4 / 5;
      grid-row: 2 / 3;
    }
  }
}

.loading {
  height: 100vh;
  width: 100vw;
  background-color: $textColor;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 8px;
  }

  .loadingIcon {
    width: 100px;
    height: 100px;
  }
}
